<h3>
	<img src="{{user.img}}" alt="" width="200" height="200" />
	{{#if user.name}}
		{{name}} ({{user.username}})
	{{else}}
		{{user.username}}
	{{/if}}
	<br>
	{{#if user.facebook}}
		Facebook: {{user.facebook}}
	{{/if}}
</h3>
